<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>video</title>
 </head>
 <body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/D26bLJ9ut88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <form action="/" method="POST">
    <br>
    Name
    <input type="text" name="name">
    <br>
    Number
    <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}">
    <br>
    mail
    <input type="email" name="mail">

    <br>
    <input type="submit">

</form>
 </body>
</html>